* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}
.container {
	width: 79%;
	max-width: 1140px;
	margin: 0 auto;
}
.btn {
	padding: 10px 24px;
	border: none;
	border-radius: 41px;
	background-color: #e02c6d;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700;
	transition: all 0.4s ease-in-out;
}
.btn i {
	transition: padding-left 0.4s ease-in-out;
}
.btn:hover {
	background-color: rgba(192, 33, 87, 0.7);
	transform: scale(1.25rem);
}
.btn:hover i {
	padding-left: 10px;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

/* shared Css */

/* Header area start */
#header-area {
	background: url(../images/Circle\ design.svg);
	background-repeat: no-repeat;
	background-position: right 160px bottom 70px;
}
#header-area .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 80px;
}
#header-area .navbar .humburger-menu {
	display: none;
	cursor: pointer;
}
#header-area .navbar .logo h2 {
	font-size: 1.5rem;
	font-weight: 700;
	color: #3a3a3a;
}
#header-area .navbar .menu-area {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

#header-area .navbar .nav-links {
	display: flex;
	gap: 34px;
	align-items: center;
	list-style: none;
}
#header-area .navbar .nav-links .nav-item .nav-link {
	display: inline-block;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	color: #3a3a3a;
	transition: transform 0.4s ease-in-out;
}

#header-area .navbar .nav-links .nav-item .nav-link:hover {
	transform: scale(1.25);
}
#header-area .navbar .nav-links .nav-item .nav-link i {
	font-size: 1.5rem;
}
#header-area .navbar .menu-area .cart .cart-link {
	display: inline-block;
	color: #3a3a3a;
	transition: transform 0.4s ease-in-out;
}
#header-area .navbar .menu-area .cart .cart-link:hover {
	transform: rotate(30deg);
}
#header-area .navbar .menu-area .cart i {
	font-size: 1.5rem;
}
/* Header area ends */

/* Banner area start */

#banner {
	padding: 100px 0;
}
#banner .banner-contents {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
}
#banner .banner-contents .banner-content {
	max-width: 582px;
}
#banner .banner-contents .banner-content h1 {
	font-size: 3.25rem;
	font-weight: 700;
	color: #3a3a3a;
	margin-bottom: 16px;
	line-height: 1.35;
}
#banner .banner-contents .banner-content p {
	font-size: 1rem;
	font-weight: 600;
	color: #3a3a3a;
	margin-bottom: 20px;
}
#banner .banner-contents .banner-image img {
	max-width: 475px;
	vertical-align: middle;
}
/* Banner area ends */

/* Brand area start */
#brand-area {
	padding: 40px 0;
	margin-bottom: 100px;
}
#brand-area .brand-content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 30px;
	margin: 35px 0;
}
#brand-area .brand-content img {
	max-width: 120px;
	cursor: pointer;
	transition: transform 0.4s ease-in-out;
}
#brand-area .brand-content img:hover {
	transform: scale(1.25);
}
#brand-area .divider {
	height: 1px;
	background: linear-gradient(
		to right,
		rgba(192, 204, 218, 0.1),
		rgba(192, 204, 218, 0.6),
		rgba(192, 204, 218, 0.1)
	);
}
/* Brand area ends */

/* Popular products start */

#popular-products .section-title {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 2.5;
	color: #3a3a3a;
	text-align: center;
	margin-bottom: 60px;
}

#popular-products .product-card-container {
	display: grid;
	grid-template-columns: repeat(3, 329px);
	grid-template-rows: repeat(3, 1fr);
	gap: 30px;
	justify-content: center;
	place-items: center;
}
#popular-products .product-card-container .product-card {
	max-width: 329px;
	border-radius: 5px;
	padding: 17px 15px;
	text-align: center;
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}
#popular-products .product-card-container .product-card img {
	display: inline-block;
	transition: transform 0.4s ease-in-out;
}
#popular-products .product-card-container .product-card:hover img {
	transform: scale(1.05);
}
#popular-products .product-card-container .product-card .product-card-content {
	text-align: left;
}
#popular-products
	.product-card-container
	.product-card
	.product-card-content
	h3 {
	font-size: 1.75rem;
	font-weight: 500;
	color: #18191f;
	margin-top: 16px;
}
#popular-products
	.product-card-container
	.product-card
	.product-card-content
	p {
	font-family: "Inter", sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.87);
	margin-top: 10px;
}
#popular-products
	.product-card-container
	.product-card
	.product-card-content
	.feedback {
	display: flex;
	align-items: center;
	margin-top: 5px;
}
#popular-products
	.product-card-container
	.product-card
	.product-card-content
	.feedback
	i {
	color: #fb8200;
	font-size: 0.88rem;
}
#popular-products
	.product-card-container
	.product-card
	.product-card-content
	.feedback
	span {
	font-family: "Roboto", sans-serif;
	font-size: 0.88rem;
	font-weight: 700;
	line-height: 1.57;
	color: #5e6366;
	margin-left: 8px;
}
#popular-products
	.product-card-container
	.product-card
	.product-card-content
	h4 {
	font-family: "Inter", sans-serif;
	font-size: 0.88rem;
	font-weight: 700;
	line-height: 1.43;
	letter-spacing: 1.8%;
	color: #787885;
}

#popular-products .right-btn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-decoration: none;
	margin-right: 4%;
	margin-top: 50px;
	color: #e02c6d;
	transition: color 0.4s ease-in-out;
}
#popular-products .right-btn:hover {
	color: rgba(224, 44, 109, 0.7);
}
#popular-products .right-btn i {
	transition: padding-left 0.4s ease-in-out;
}
#popular-products .right-btn:hover i {
	padding-left: 10px;
}
#popular-products .right-btn span {
	font-size: 1rem;
	font-weight: 700;
	margin-right: 10px;
}

/* Popular products ends */

/* Featured products start */

#featured-products-section {
	padding: 100px 0;
}
#featured-products-section .featured-products-contents {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 96px;
}
#featured-products-section .featured-products-contents .featured-section-image {
	max-width: 404px;
}
#featured-products-section
	.featured-products-contents
	.featured-section-image
	img {
	width: 100%;
	vertical-align: middle;
}
#featured-products-section
	.featured-products-contents
	.featured-section-content {
	max-width: 610px;
}
#featured-products-section
	.featured-products-contents
	.featured-section-content
	h2 {
	font-size: 2.37rem;
	font-weight: 700;
	line-height: 1.58;
	color: #0a0826;
}
#featured-products-section
	.featured-products-contents
	.featured-section-content
	p {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.75;
	color: #6c6c6c;
	margin: 16px 0;
	max-width: 501px;
}
#featured-products-section
	.featured-products-contents
	.featured-section-content
	.btn {
	border-radius: 0;
}

/* Featured products ends */

/* Footer area start */
#footer {
	background-color: #0a0826;
	padding: 50px 0;
}
#footer .footer-contents {
	display: flex;
	justify-content: center;
	align-items: center;
}
#footer .footer-contents .footer-content {
	max-width: 270px;
	text-align: center;
}
#footer .footer-contents .footer-content h2 {
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
	margin-bottom: 5px;
}
#footer .footer-contents .footer-content p {
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.71;
	color: #d9dbe1;
	margin-bottom: 5px;
}
#footer .footer-contents .footer-content ul {
	list-style: none;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

#footer .footer-contents .footer-content ul li a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 32px;
	height: 32px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	color: #fff;
}
#footer .footer-contents .footer-content ul li a i {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.4s ease-in-out;
}
#footer .footer-contents .footer-content ul li a:hover i {
	transform: scale(1.25);
	color: #e02c6d;
}
/* Footer area ends */

/* Responsive area start */

@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}

	/* shared css */

	/* Header area start */

	#header-area {
		background-position: top 30% left 50%;
		background-size: 90%;
		text-align: center;
	}
	#header-area .navbar {
		padding-top: 50px;
	}
	#header-area .navbar .humburger-menu {
		display: block;
	}
	#header-area .navbar .nav-links {
		display: none;
	}
	/* Header area ends */

	/* Banner area start */
	#banner {
		padding: 50px 0;
	}

	#banner .banner-contents,
	#featured-products-section .featured-products-contents {
		flex-direction: column-reverse;
	}
	#banner .banner-contents .banner-image img {
		max-width: 100%;
	}
	#banner .banner-contents .banner-content {
		max-width: 600px !important;
	}
	#banner .banner-contents .banner-content h1 {
		font-size: 1.75rem;
		font-weight: 700;
		color: #3a3a3a;
		margin-bottom: 16px;
		line-height: 1.35;
	}

	#banner .banner-contents .btn {
		margin: 0 auto;
	}
	/* Banner area ends */

	/* Brand area start */
	#brand-area {
		margin-bottom: 0px;
	}
	#brand-area .brand-content {
		flex-wrap: wrap;
		justify-content: center;
	}

	#brand-area .brand-content img {
		max-width: 60px;
	}
	/* Brand area ends */

	/* Popular products start */
	#popular-products .section-title {
		margin-bottom: 30px;
	}
	#popular-products .product-card-container {
		grid-template-columns: repeat(1, 1fr);
	}
	/* Popular products ends */

	/* Featured products section start */
	#featured-products-section {
		padding: 50px 0;
	}

	#featured-products-section .featured-products-contents {
		gap: 50px;
	}

	#featured-products-section
		.featured-products-contents
		.featured-section-image
		img {
		max-width: 90%;
	}
	#featured-products-section
		.featured-products-contents
		.featured-section-content {
		text-align: center;
		max-width: 92%;
	}
	#featured-products-section
		.featured-products-contents
		.featured-section-content
		h2 {
		font-size: 1.6rem;
	}
	#featured-products-section
		.featured-products-contents
		.featured-section-content
		.btn {
		margin: 0 auto;
	}

	/* Featured products section ends */

	/* Footer area start */

	#footer .footer-contents .footer-content ul li a i {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	/* Footer area ends */
}
@media screen and (min-width: 575.98px) and (max-width: 768px) {
	.container {
		width: 90%;
	}

	/* shared css */

	/* Header area start */

	#header-area {
		background-position: top 30% left 50%;
		background-size: 65%;
		text-align: center;
	}
	#header-area .navbar {
		padding-top: 50px;
	}
	#header-area .navbar .humburger-menu {
		display: block;
	}
	#header-area .navbar .nav-links {
		display: none;
	}
	/* Header area ends */

	/* Banner area start */
	#banner {
		padding: 50px 0;
	}

	#banner .banner-contents,
	#featured-products-section .featured-products-contents {
		flex-direction: column-reverse;
	}
	#banner .banner-contents {
		gap: 40px;
	}
	#banner .banner-contents .banner-image img {
		max-width: 100%;
	}
	#banner .banner-contents .banner-content {
		max-width: 600px !important;
	}
	#banner .banner-contents .banner-content h1 {
		font-size: 1.75rem;
		font-weight: 700;
		color: #3a3a3a;
		margin-bottom: 16px;
		line-height: 1.35;
	}

	#banner .banner-contents .btn {
		margin: 0 auto;
	}
	/* Banner area ends */

	/* Brand area start */
	#brand-area {
		margin-bottom: 0px;
	}
	#brand-area .brand-content {
		flex-wrap: wrap;
		justify-content: center;
	}

	#brand-area .brand-content img {
		max-width: 100%;
	}
	/* Brand area ends */

	/* Popular products start */
	#popular-products .section-title {
		margin-bottom: 30px;
	}
	#popular-products .product-card-container {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
	/* Popular products ends */

	/* Featured products section start */
	#featured-products-section {
		padding: 50px 0;
	}

	#featured-products-section .featured-products-contents {
		gap: 50px;
	}

	#featured-products-section
		.featured-products-contents
		.featured-section-image
		img {
		max-width: 100%;
	}
	#featured-products-section
		.featured-products-contents
		.featured-section-content {
		text-align: center;
		max-width: 92%;
	}
	#featured-products-section
		.featured-products-contents
		.featured-section-content
		h2 {
		font-size: 1.6rem;
	}
	#featured-products-section
		.featured-products-contents
		.featured-section-content
		.btn {
		margin: 0 auto;
	}

	/* Featured products section ends */
}
/* Responsive area ends */
